.create_product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.upload {
  max-width: 450px;
  height: 500px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px;
  position: relative;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: url("../../../assets/images\ \(2\).jfif");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}
#file_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.input_text {
  width: 100% !important;
  margin-right: 220px;
  /*box-sizing: content-box;*/
  border: none !important;
  border-bottom: 2px solid #ff7171 !important;
}

.create_product .btn3 {
  width: 90px !important;
  background: linear-gradient(to left, #28b5b5, #f0e4d7) !important;
  color: white !important;
  margin-left: 10px !important;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 50px;
}

.categ {
  text-align: center !important;
}
