.detail-cart {
  position: relative;
  border-radius: 12px;
  transform: scaleY(0.98);
  background-color: #f0e4d7;
  width: 1250px;
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.description {
  font-family: "Times New Roman", Times, serif;
}

.amount span {
  color: crimson;
  padding: 0 20px;
}

.mount button {
  width: 40px;
  height: 40px;
  border: 1px solid #777;
}
.delete {
  position: absolute;
  top: 0;
  right: 5px;
  color: crimson;
  font-weight: 900;
  cursor: pointer;
}

.total {
  border-radius: 12px;
  width: 550px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  margin-left: 500px;
  background-color: #f0e4d7;
}

.total h3 {
  color: #ff7171;
}

.btn-total {
  background-color: #28b5b5 !important;
  font-weight: 15px !important;
  border-radius: 18px !important;
}

.quantity {
  border-radius: 50% !important;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
