.detail-img {
  width: 550px;
  margin: 20px;
  height: 450px;
}

.box-detail {
  width: 1150px;
  height: 600px;
  margin-top: 150px;
}

.products-detailt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
}

.retated-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text {
  margin: 20px;
  word-break: break-all;
}

.title-detail {
  color: #28b5b5 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: oblique;
}
.price {
  color: #ff7171;
}
.description {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.animation {
  width: 1510px;
  height: 35px;
  margin-top: 80px;
  background-color: #28b5b5;
}

.text_animation {
  color: white;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding-top: 7px;
  margin-left: 15px;
  word-spacing: 30px;
  animation: scrolling 50s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.related-product {
  width: 1500px;
  height: 35px;
  margin-top: 80px;
  background-color: #28b5b5;
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.related_animation {
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 150px;
  animation: scrolling 50s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.retated-cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
